<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/">
<head>
<title>My Cookbook</title>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<h1>My Cookbook</h1>
	<div>
		<input type="button" wicket:id="addRecipeLink" value="Add Recipe" />
	</div>
	<h2>My Recipes</h2>
	<table>
	<tr wicket:id="recipes">
		<td class="title"><a wicket:id="viewRecipeLink"><span wicket:id="title"></span></a></td>
		<td><a wicket:id="editRecipeLink" class="action">edit</a></td>
		<td><a wicket:id="removeRecipeLink" class="action">delete</a></td>
	</tr>
	</table>
</body>
</html>